/node_modules
/public/hot
/public/storage
/public/img/image_user
/public/img/file_attendance
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
